.gallery-page {
  padding: 120px 20px;
  text-align: center;
}

.gallery-page h1 {
  font-size: 42px;
  margin-bottom: 50px;
}

.gallery-grid {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery-item img {
  width: 100%;
  border-radius: 12px;
  transition: 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

@media (max-width: 992px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
