:root {
  --primary-blue: #1E63B5;
  --primary-teal: #1FA89A;
  --accent-green: #7ED957;
  --dark: #000000;
  --white: #ffffff;
  --light-bg: #f4f6f9;

  --brand-gradient: linear-gradient(
    90deg,
    #1E63B5,
    #1FA89A
  );
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--light-bg);
}


.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
